  /* Put any custom CSS styles here.  */
  /* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
  body {
    margin: 0;
    font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    min-height: 100vh;

    background-color: #e5e7eb;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  form {
    width: 100%;
    max-width: 400px;
  }

  form input {
    width: 100%;
    padding: 10px;
  }

  .form-label {
    font-size: 0.875rem;
  }

  .mb-30 {
    margin-bottom: 30px;
  }



  .input-wrapper {
    position: relative;
  }

  .input-text {
    width: 100%;
    padding: 10px 36px 10px 10px; /* space for icon */
    background: rgb(220, 219, 219);
    border: 1px solid rgb(220, 219, 219);
    border-radius: 2px;
  }

  .input-icon {
    position: absolute;  
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #9aa0a6;
    border: none;
    background: none;
  }

  .hint-text {
    margin-top: 2px;
    font-size: 0.9rem;
    color: #6b7280;
  }

  .input-icon-error {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    background: none;
    border: none
  }

  .hint-text-error {
    margin-top: 2px;
    font-size: 0.9rem;
    color: red;
  }


  .credits {
    color: #777;
    position: fixed;
    bottom: 24px;
    left: 24px;
    font-size: 11px;
    text-align: center;
  }

  .credits a {
    color: #000;
    font-weight: bold;
  }
